.product-list {
  &__root {
    @include center-main;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__catalog-wrapper {
    background-color: white;
    @media (min-width: $breakpoint-tablet) {
      width: 70.8125rem;
    }
    box-shadow: $shadow-default;
  }
}
