.product-list {
  &__root {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      min-height: 70vh;
      justify-content: center;
    }
  }
  &__catalog-wrapper {
    background-color: white;
    @media (min-width: $breakpoint-tablet) {
      width: 70.8125rem;
    }
    box-shadow: $shadow-default;
  }
}
