.pagination-item {
  &__root {
    border: solid #ddd 0.01rem;
    padding: 0.2rem 0.6rem;
    background-color: white;

    &.selected {
      background-color: $secondary;
      color: white;
      border: $secondary solid 0.01rem;
      &:hover {
        background-color: $secondary
      }
    }

    &:hover {
      background-color: #ddd;
    }
  }
}
