.product-details {
  &__container {
    display: flex;
    justify-content: center;
    background-color: #ddd;
    @media (min-width: $breakpoint-tablet) {
      min-height: 71vh;
    }
  }
  &__root {
    margin: 1rem;
    padding: 0.3rem 0.5rem;
    background-color: white;
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: column;
      margin: auto 0;
      padding: 2rem;
    }
  }
  &__title {
    font-size: 1.25rem;
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 0.0625rem solid #ddd;

    text-align: center;
    @media (min-width: $breakpoint-tablet) {
      font-size: 1.5rem;
    }
  }
  &__image {
    border: solid #ddd 0.01rem;
    height: inherit;
  }
  &__image-container {
    height: 17.1875rem;
    display: flex;
    justify-content: center;
    @media (min-width: $breakpoint-tablet) {
      height: 25rem;
    }
  }
  &__price {
    width: 100%;
    display: flex;
    justify-content: center;
    color: $alert;
    font-size: 1.8125rem;
    font-weight: 500;
    margin: 0.5rem 0;
    @media (min-width: $breakpoint-tablet) {
      justify-content: flex-start;
    }
  }
  &__info-wrapper {
    @media (min-width: $breakpoint-tablet) {
      padding: 0.5rem;
      margin: 0.5rem;
    }
  }
  &__main-wrapper {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      margin-top: 1.3rem;
    }
  }
}
