.checkout-page {
  &__root {
    @include center-main;
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      margin: 1rem 0;
    }
  }
}
